/* public/style.css */
/* public/style.css */

.container {
    display: flex;
}

.navbar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

label {
    display: inline-block;
}

.main-section {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
}

.product:hover {
    cursor: pointer;
}

.product-image {
    text-align: center;
}

.product-name {
    margin-top: 5px;
}

.product-price {
    margin-top: 5px;
    font-size: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
}

img {
    height: 12rem;
}

.product-id {
    font-weight: bold;
}

.product-name {
    margin-top: 5px;
}

.product-price {
    margin-top: 5px;
}

.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal */
    z-index: 1; /* Set a high z-index to make it appear on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling within the modal */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
}

.modal-content {
    display: flex; /* Use flexbox layout */
    background-color: #fefefe;
    margin: 10% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-content img {
    width: 50%;
    height: auto; /* Ensure the image doesn't exceed the height of the modal */
    object-fit: contain; /* Adjust how the image fits within the container */
    margin-right: 20px; /* Add some spacing between the image and the other content */
}

.close:hover {
    cursor: pointer;
}
.modal-content h2,
.modal-content p {
    flex: 1; /* Take up the remaining 50% of the width */
}
